body {
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Raleway', sans-serif;
    color: #8a8a8a;
}

#main {
    width: 90%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

h1, title {
    text-align: center;
}

.content-box {
    width: 25%;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;;
}

#title, .box-titles {
    color: #cacaca;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.box-titles {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#title {
    font-size: 4rem;
    font-weight: 900;
}

#description {
    color: #8a8a8a;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

#steps-div {
    width: 70%;
    margin: auto;
    border: 4px solid #292929;
    border-radius: 4px;
}

#steps-div:hover {
    border: 4px solid lightblue;
    box-shadow: 0 0 10px rgba(173, 216, 230, 0.404);
}

#steps-title {
    text-align: center;
    color: #cacaca;
    font-weight: 600;
    font-size: 1.1rem;
}

#steps {
    line-height: 20px;
}

li {
    margin: 10px 0;
}

ul li:hover {
    color: #cacaca;
}

.inner-content {
    background-color: #292929;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

label {
    display: block;
    padding-bottom: 6px;
    padding-left: 1px;
    padding-top: 17px;
}

#input-record-inner {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 2rem;
    background-color: #cacaca;
    font: inherit;
    text-align: center;
    border-style: none;
    outline: none;
}

input:focus {
    border: 2px solid lightblue;
    box-shadow: 0 0 3px lightblue;
}

button {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 17px;
    border-radius: 4px;
    height: 2rem;
    background-color: #cacaca;
    border-style: none;
    cursor: pointer;
    font: inherit;
    outline: none;
    transition: all 10ms linear;
}

button:hover {
    border: 2px solid lightblue;
    box-shadow: 0 0 3px lightblue;
}

button:active {
    background-color: #afafaf;
}

#footer {
    text-align: center;
    color: #cacaca;
    margin-bottom: 0;
    margin-top: 25px;
  }